# Environments
.venv/
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data & artifacts (do not version by default)
data/raw/
data/processed/
data/external/
models/
logs/

# Jupyter
.ipynb_checkpoints/
